@font-face {
    font-family: "OpenSans";
    src: url("../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "OpenSans";
}

body {
    overflow-x: hidden;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.logo a {
    color: #2ECC71;
    font-size: 35px;
    font-style: italic;
    text-decoration: none;
}

.logo a:hover {
    color: #000;
}

.top__menu {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.top__menu li {
    list-style: none;
}

.top__menu li a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
}

.top__menu li a:hover {
    color: #2ECC71;
}

.social__icon img {
    border-bottom: 2px solid transparent;
}

.social__icon img:hover {
    border-bottom: 2px solid yellow;
}

.top__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__text__block {
    background: #2ecc71;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.popup__active {
    transform: translateX(0) !important;
    transition: 0.8s ease;
}

.remove__popup {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 5px;
    background: transparent;
}

.popup__form {
    width: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #333;
    padding: 22px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 100px;
    transform: translateX(-1000%);
}

.popup__title__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.popup__title {
    font-size: 20px;
    font-weight: 600;
    color: #010101;
    text-align: center;
}

.popup__form label {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
}

.popup__form input {
    width: 380px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #969696;
    margin-bottom: 20px;
    outline: none;
    padding: 0 10px;
    font-size: 20px;
}

.popup__form textarea {
    width: 380px;
    height: 136px;
    border-radius: 5px;
    border: 1px solid #969696;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    font-size: 20px;
}

.popup__send {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    background: #252525;
    color: #fff;
    border: 3px solid transparent;
    float: right;
    font-size: 20px;
}

.popup__send:hover {
    color: #252525;
    background: #fff;
    border: 3px solid #252525;
}

.header__title {
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 71px;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.header__phone {
    height: 650px;
}

.header__text {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.btn {
    background: #252525;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 15px 45px;
    border: 3px solid transparent;
    outline: none;
    color: #fff;
    font-size: 20px;
}

.btn:hover {
    background: transparent;
    color: #252525;
    border: 3px solid #252525;
}

.digital__title {
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 45px;
    text-align: center;
    text-transform: capitalize;
    margin: 25px 0;
}

.digital__text {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.digital__blocks {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.col-4 {
    text-align: center;
}

.col-4 img {
    display: flex;
    justify-content: center;
    max-width: 85%;
    margin: 0 auto;
}

.col-3__title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin: 20px 0;
}

.col-3__text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.email {
    width: 445px;
    height: 47px;
    border: 1px solid #969696;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0 15px;
}

.email__group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    font-size: 20px;
}

.btn__email {
    width: 255px;
    height: 47px;
    background: #2ECC71;
    color: #fff;
    border-radius: 10px;
    margin-left: 30px;
    text-align: center;
    justify-content: center;
    border: 3px solid #2ECC71;
    font-size: 20px;
}

.btn__email:hover {
    color: #2ecc71;
    background: transparent;
    border: 3px solid #2ECC71;
}

.digital__block__bottom {
    padding: 50px;
    background-color: #252525;
}

.digital__assets {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #2FCC71;
}

.products {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    text-align: left;
    color: #000000;
    padding: 50px 20px 20px 20px;
}

.col-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products__title {
    color: #252525;
    margin-bottom: 10px;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    background: #fff;
    outline: none;
    cursor: pointer;
    padding-bottom: 25px;
}

.products__title:hover {
    color: #2FCC71;
    background: #fff;
}

.products__text {
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding-bottom: 90px;
}

.phone__main {
    height: auto;
}

#your__business {
    padding: 50px 10px;
}

.your__business__title {
    font-size: 45px;
    padding: 10px 30px;
}

.your__business__blocks {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: space-around;
    text-align: center;
}

.your__business__block {
    width: 30%;
    padding: 50px 20px;
    border: 1px solid #2ECC71;
    margin-top: 30px;
    min-height: 314px;
}


/* .your__business__block img {
    margin: 20px;
} */

.your__business__block h3 {
    font-size: 25px;
    padding: 20px 0;
    line-height: 34.05px;
    font-weight: bold;
}

.your__business__block p {
    font-size: 18px;
    line-height: 24.51px;
    font-weight: 600;
    padding: 0 20px;
    margin: 0;
    min-height: 80px;
}

#blog {
    margin: 20px 10px;
    text-align: center;
}

.blog__title {
    font-size: 45px;
    font-weight: bold;
    line-height: 61px;
    text-transform: capitalize;
}

.blog__items {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog__item {
    width: 30%;
    padding: 30px;
}

.blog__data {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0;
    text-align: left;
}

.blog__text {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    text-align: left;
}

.blog__item__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show__all__news {
    padding: 5px 45px;
    font-size: 25px;
    color: #2ecc71;
    border: 5px solid #2ecc71;
    border-radius: 10px;
    cursor: pointer;
    background: #fff;
}

.show__all__news:hover {
    color: #fff;
    background: #2ecc71;
}

#contact {
    padding-top: 50px;
}

.contact__block__top {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.contact__title h1 {
    font-size: 45px;
    text-transform: capitalize;
    color: #000;
}

.contact__title p {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
}

.contact__email {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.contact__form label {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
}

.contact__form input {
    width: 380px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #969696;
    margin-bottom: 20px;
    outline: none;
    padding: 0 10px;
    font-size: 20px;
}

.contact__form textarea {
    width: 380px;
    height: 136px;
    border-radius: 5px;
    border: 1px solid #969696;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    font-size: 20px;
}

.send {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    background: #252525;
    color: #fff;
    border: 3px solid transparent;
    float: right;
    font-size: 20px;
}

.send:hover {
    color: #252525;
    background: #fff;
    border: 3px solid #252525;
}

.contact__block__bottom {
    background: #252525;
    margin-top: 50px;
    padding: 30px 50px;
    display: flex;
    align-items: center;
}

.logo__footer {
    margin-bottom: 20px;
}

.logo__footer a {
    font-size: 50px;
    font-weight: 400;
    font-style: italic;
    line-height: 58px;
    color: #2ecc71;
    text-decoration: none;
}

.logo__footer a:hover {
    color: #fff;
}

.footer__menu {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.footer__menu li {
    list-style: none;
    padding-top: 30px;
}

.footer__menu li a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
}

.footer__menu li a:hover {
    color: #2ECC71;
}

.logo__bottom__footer {
    list-style: none;
    margin-bottom: 70px;
}

.logo__bottom__footer a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.logo__bottom__footer a:hover {
    color: #2ECC71;
}

.social__icons__footer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.social__icon__footer img {
    border-bottom: 2px solid transparent;
}

.social__icon__footer img:hover {
    border-bottom: 2px solid yellow;
}

.copyright__block {
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    background: #4a4a4a;
    border: 1px solid #4a4a4a;
}

.copyright {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 10px;
}

.menu__btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    top: 10%;
    left: 5%;
}

.menu__btn span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2ECC71;
    transition: all 0.5s;
}

.menu__btn span:nth-of-type(2) {
    top: calc(50% - 5px);
}

.menu__btn span:nth-of-type(3) {
    top: calc( 50% + 5px);
}

.menu {
    position: fixed;
    top: 10%;
    left: 15%;
    width: 375px;
    height: auto;
    padding: 15px;
    background: #2ECC71;
    transform: translateY(-150%);
    transition: transform 0.5s;
    z-index: 5;
    text-align: center;
}

.menu.active {
    transform: translateY(0);
}

.remove__menu {
    position: relative;
    top: 0;
    left: 40%;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 5px;
    background: transparent;
}

.top__menu__burger li {
    list-style: none;
}

.menu {
    display: none;
}

.top__menu__burger {
    margin: 0;
    padding: 20px 15px;
    font-size: 0;
    text-align: left;
}

.top__menu__burger li {
    list-style: none;
    margin-bottom: 10px;
}

.top__menu__burger li a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
}

.top__menu__burger li a:hover {
    color: #2ECC71;
}

.social__icons__burger {
    text-align: left;
}

.social__icons__burger img {
    border-bottom: 2px solid transparent;
}

.social__icons__burger img:hover {
    border-bottom: 2px solid yellow;
}

@media all and (max-width: 1199px) {
    .top__menu {
        display: none;
    }
    .social__icons {
        display: none;
    }
    .menu {
        display: block;
    }
    .menu-btn {
        display: block;
        left: -40%;
    }
}

@media all and (max-width: 1024px) {
    .header__top {
        justify-content: space-between;
    }
    .header__title {
        font-size: 35px;
        line-height: 50px;
    }
    .header__text {
        font-size: 22px;
        line-height: 35px;
    }
    .btn {
        font-size: 18px;
    }
    .header__text__block {
        display: flex;
        flex-direction: column;
    }
    .col-3 {
        width: 100%;
    }
    .col-4 {
        width: 100%;
        margin-bottom: 30px;
    }
    .col-5 {
        width: 100%;
        margin-top: 30px;
    }
    .col-6 {
        width: 100%;
    }
    .col-9 {
        width: 100%;
    }
    .digital__blocks {
        flex-direction: column;
    }
    .your__business__blocks {
        flex-direction: column;
    }
    .your__business__block {
        width: 100%;
    }
    .blog__items {
        flex-direction: column;
    }
    .blog__item {
        width: 100%;
    }
    .contact__block__top {
        flex-direction: column;
    }
    .contact__block__bottom {
        flex-direction: column;
    }
    .copyright__block {
        text-align: center;
    }
}

@media all and (max-width: 600px) {
    .popup__form {
        width: 100%;
        right: 0;
    }
    .popup__form input {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .popup__form label {
        flex-direction: column;
    }
    .popup__form textarea {
        width: 100%;
        margin-top: 20px;
    }
}

@media all and (max-width: 480px) {
    .email__group {
        flex-direction: column;
    }
    .email {
        width: 100%;
    }
    .btn__email {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }
    .blog__item {
        padding: 10px;
    }
    .blog__item img {
        width: 100%;
    }
    .contact__form label {
        flex-direction: column;
    }
    .contact__form input {
        width: 100%;
        margin-top: 20px;
    }
    .contact__form textarea {
        width: 100%;
        margin-top: 20px;
    }
    .contact__block__bottom {
        padding: 10px;
    }
    .digital__title {
        font-size: 35px;
    }
    .digital__text {
        font-size: 18px;
    }
    .your__business__block p {
        padding: 0;
    }
    .your__business__block h3 {
        font-size: 22px;
    }
    .menu {
        width: 84%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
    .menu {
        display: none;
    }
    .menu__btn {
        display: none;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}


/*.center {
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;
}

.header_top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}

.logo {
    color: #2ECC71;
    font-size: 35px;
    font-style: italic;
    text-decoration: none;
}

.logo:hover {
    color: #000;
}

.navbar {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.navbar-item {
    list-style: none;
}

.navbar-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-link:hover {
    color: #2ECC71;
}

.social-icons img {
    border-bottom: 2px solid transparent;
}

.social-icons img:hover {
    border-bottom: 2px solid yellow;
}

#header_main {
    background: #2ecc71;
    min-height: 500px;
    padding: 100px;
}

.header_main_title {
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 71px;
    /* identical to box height 
    color: #FFFFFF;
    margin-bottom: 28px;
}

.header_main_text {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.btn {
    background: #252525;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.btn:hover {
    background: transparent;
    border: 1px solid #383636;
}

.input-group-text {
    text-decoration: none;
}

.input-group-text:hover {
    background: #fff;
    color: #2ecc71;
}

.img {
    position: absolute;
    width: 613.55px;
    height: 656.73px;
    left: 600.18px;
    top: 70px;
}

.main_title {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    text-align: center;
    text-transform: capitalize;
    margin: 30px 0;
}

.main_text {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.col-4_img {
    display: flex;
    justify-content: center;
}

.col-4_title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height 
    text-align: center;
    margin: 20px 0;
}

.col-4_text {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.form-control {
    width: 445px;
    height: 47px;
    border: 1px solid #969696;
    box-sizing: border-box;
    border-radius: 10px;
}

.mb-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.input-group-text {
    width: 255px;
    height: 47px;
    background: #2ECC71;
    color: #fff;
    border-radius: 10px;
    margin-left: 30px;
    text-align: center;
    justify-content: center;
    border: 1px solid #2ECC71;
}

#main_bottom {
    padding: 50px;
    background-color: #252525;
}

.main_bottom_title {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #2FCC71;
    ;
}

#product_blocks {
    padding: 50px 100px;
}

.product_title {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    text-align: left;
    color: #000000;
}

.product_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn_main {
    height: 78px;
    width: 350px;
    border-radius: 10px;
    border: 5px solid #252525;
    color: #252525;
    margin-bottom: 10px;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    background: #fff;
    outline: none;
}

.btn_main:hover {
    border: 5px solid #2FCC71;
    color: #2FCC71;
    background: #fff;
}

.btn_main:focus,
.btn_main:active {
    box-shadow: none !important;
}

.product_block_top {
    margin: 50px 0;
}

.product_block_text {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}



@media all and (max-width: 1024px) {
    .navbar {
        display: none;
    }
    .social-icons {
        display: none;
    }
    .menu {
        display: block;
    }
    .menu-btn {
        display: block;
        left: -40%;
    }
    .header_main_title {
        font-size: 48px;
    }
    .header_main_text {
        font-size: 28px;
    }
    .img {
        left: 500px;
        width: 500px;
        height: 500px;
        top: 100px;
    }
    #header_main {
        padding: 50px;
    }
    .header_top {
        justify-content: center;
    }
    .navbar_burger {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .menu li {
        padding-bottom: 20px;
    }
    .social-icons_burger {
        text-align: center;
    }
    .row {
        flex-direction: column;
    }
    .col-4 {
        margin-bottom: 30px;
        width: 100%;
    }
}

@media all and (max-width: 768px) {
    .img {
        left: 370px;
        width: 400px;
        height: 400px;
        top: 100px;
    }
    .header_main_title {
        font-size: 38px;
    }
    .header_main_text {
        font-size: 24px;
    }
    .main_title {
        font-size: 42px;
    }
    .main_text {
        font-size: 22px;
    }
    #product_blocks {
        padding: 50px;
    }
    .product_block {
        flex-direction: column;
    }
    .input-group-text {
        margin-top: 20px;
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    .mb-3 {
        flex-direction: column;
        margin: 20px 0;
    }
    .form-control {
        width: auto;
        height: auto;
    }
}

@media all and (max-width: 425px) {
    .menu-btn {
        left: -35%;
    }
    .img {
        left: 0;
        width: auto;
        height: auto;
        top: 160px;
    }
    #header_main {
        padding: 20px;
        min-height: 400px;
    }
    .header_main_title {
        font-size: 32px;
        margin-bottom: 290px;
    }
    .header_main_text {
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 30px;
    }
    .main_title {
        font-size: 30px;
        line-height: 25px;
    }
    .main_text {
        line-height: 30px;
    }
    #main_bottom {
        padding: 30px;
    }
}

@media all and (max-width: 375px) {
    .menu-btn {
        left: -30%;
    }
    .header_main_title {
        font-size: 27px;
        margin-bottom: 260px;
    }
    .header_main_text {
        line-height: 25px;
        font-size: 18px;
    }
    .main_text {
        font-size: 20px;
        line-height: 22px;
    }
    .main_bottom_title {
        font-size: 24px;
    }
    .product_block_top {
        display: flex;
        flex-direction: column;
    }
    .btn_main {
        height: auto;
        width: auto;
    }
    .product_block_text {
        font-size: 18px;
        line-height: 25px;
    }
    .main_title {
        font-size: 27px;
        line-height: 32px;
    }
    #product_blocks {
        padding: 25px;
    }
}

@media all and (max-width: 320px) {
    .menu-btn {
        left: -30%;
    }
    .header_main_title {
        font-size: 23px;
        margin-bottom: 210px;
    }
    .header_main_text {
        line-height: 20px;
    }
    .main_text {
        font-size: 19px;
        line-height: 25px;
    }
    .main_bottom_title {
        font-size: 24px;
    }
    .product_block_top {
        display: flex;
        flex-direction: column;
    }
    .btn_main {
        height: auto;
        width: auto;
    }
    .product_block_text {
        font-size: 18px;
        line-height: 25px;
    }
}*/